#header{
	padding: 0px;
	width: 100%;
	height:90px;
	background-color:#3b5998;
}
#logo{
	font-size: 44px;
	color:#ffffff;
	margin-left: 100px;
	width: 140px;
	height:20px;
	float: left;
	margin-top: 30px;
	padding-top: 0px;
	font-family: Tahoma, Helvetica;
	

}

form{
	float: right;
	padding-top: 20px;
	padding-right: 100px
}
label{
	color:#ffffff;
}
div a {
	color: #edf2ff;
	padding-top: 0px;
}
#email, #pass{
	float: left;
	max-height: 100px;
	margin-top: -30px;
	padding-top: 20px;
	width: 300px;
}
#email{
	clear: right;
	width: 100px;
	padding-right: 80px;
}
#pass{
	float: right;
	padding-bottom: 5px;
	height:80px;
	padding-right: -20px;
}
#left,#right{
	height: 90%;
	padding-bottom: 10px;
}
#left{
	width: 50%;
	float: left;
}
#right{
	width: 49%;
	float: right;
	padding-bottom: 0px;
	margin-top: -16px;
}
#submit{
	background-color: #2c5eaa;
	color: #fff;
	border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;

    height: 22px;
    text-align: center;
    padding-left: 20px;

    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: Tahoma, Helvetica;
}
#body{
	background-color: #dfe3ee;
	width: 100%;
	height: 90%;
	bottom: 0px;
	margin: 0px;
	}
#logins{
	color: black;
	text-align: center;
}
.login-input{
	background-color: white;
	text-align: center;
}
#name{
	clear: both;
	padding: 10px;
	margin: 10px;
	font-size: 14px;
}
#email1,#password{
	width: 412px;
	clear: both;
	padding: 10px;
	margin:10px;
}
select{
	margin-left: 10px;

}
input{
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
#birthday,#policy,#gender{
	padding: 10px;
}
#account{
	background-color: #57a801;
	width: 200px;
	height: 40px;
	color:white;
	font-size: 26px;
	margin-left: 10px;
}
#terms,#privacy{
	color:blue;
}
img{
	width: 150px;
	height: 150px;
	border: 4px solid white;
}
#name1{
	text-align: center;
	font-size: 18px;
	font-weight: bold; 
}
input>placeholder{
	text-align: center;

}